.cp-details-page{

}

.cpd-title{
    border-bottom: 1px solid gray;
    border-width: 10%;
    margin-top: -1%;
    padding-bottom: 10px;
}

.edit-space{
    display: flex;
    flex-direction: column;
}