.cp-page{}

.campaign-list-container {
    margin: 20px;
  }
  
  .all-cps-title {
    color: #333;
    margin-bottom: -25px !important;
    font-size: 24px;
  }
  
  .campaign-list {
    list-style-type: none;
    padding: 0;
  }

  .cp-item{
    display: flex;
    margin-top: 10px ;
    background-color: red;
    flex-direction: column;
  }
  
  .cps-inner-list {
    margin-bottom: 20px;
  }
  
  .campaign-title {
    font-weight: bold;
    margin: 0px;
  }
  
  .campaign-date {
    margin-left: 20px;
    margin: 0px;
    color: #666;
  }
  
  .campaign-details {
    margin-top: 10px;
    color: #555;
  }
  
  .campaign-details  {
    margin-right: 20px;
  }
  